:root {
  --color-black: #1b1725;
  --color-white: #f1f3f5;
  --color-gray: #343a40;
  --color-violet: #6741d9;
  --color-purple: #862e9c;  
  --color-blue: #1971c2;
  --color-lightgreen: #15aabf;
  --color-yellow: #ffc107;
  --color-red: #c92a2a;
  --color-green: #2f9e44;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  -webkit-font-smoothing: antialising;
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-black);
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}